@import '@gouvfr/dsfr/dist/dsfr.min.css';
@import '@gouvfr/dsfr/dist/utility/icons/icons.css';
@import './icons.css';

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
  font-display: swap;
}

:root {
  /* Override DSFR blue-france to a darker shade in light theme */
  --blue-france-main-525: #6464e6;

  /* CUSTOM DSFR LIKE ADDITION */
  --cg-blue-france-main-525-hover: #1111cc;
  --cg-blue-france-main-525-active: #6464e6;
  --outline-color: #0a76f6;
  --text-action-high-blue-france: #5829c5;
  --background-action-high-blue-france: var(--blue-france-main-525);
  --background-action-high-blue-france-hover: var(--cg-blue-france-main-525-hover);
  --background-action-high-blue-france-active: var(--cg-blue-france-main-525-active);
  --border-action-high-blue-france: var(--blue-france-main-525);

  /* CUSTOM */
  --cg-very-light-grey: #fcfcfd;
  --cg-light-grey: #f3f5f9;
  --cg-bg-grey: #d4d4d4;
  --cg-bg-white: color-mix(in srgb, var(--grey-1000-50) var(--un-bg-opacity), transparent);
  --cg-grey: #8e8e8e;
  --cg-very-light-blue: #f9fbff;
  --cg-green: #58b77d;
  --cg-purple: #a96afe;
  --cg-orange: #ff9575;

  /* GRADIENTS */
  --cg-blue-france-shifted: hsl(from var(--blue-france-main-525) calc(h - 30) s l);
  --cg-gradient-primary: linear-gradient(
    to right,
    var(--blue-france-main-525) 0%,
    var(--blue-france-main-525) 65%,
    var(--cg-blue-france-shifted) 100%
  );

  /* xs breakpoint */
  --text-xs: 0.675rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.75rem;
  --text-sm--line-height: calc(1.25 / 0.875rem);
}

:root[data-fr-theme='dark'] {
  /* Restore original DSFR value for dark theme */
  --blue-france-main-525: #6a6af4;
  --text-action-high-blue-france: var(--blue-france-main-525);

  --cg-very-light-grey: #0a0a0b;
  --cg-light-grey: #1c1e22;
  --cg-bg-grey: #2b2b2b;
  --cg-grey: #9a9a9a;
  /* FIXME need equivalent in dark */
  --cg-very-light-blue: #0a0a0b;
}

@media (min-width: 36em) {
  /* sm */
}

@media (min-width: 48em) {
  /* md */
  :root {
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
  }
}

@media (min-width: 62em) {
  /* lg */
}

@media (min-width: 78em) {
  /* xl */
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 !important;
}
#app,
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a, button, .fr-btn, .fr-link, .fr-nav__link, .btn-color {
  transition: background-color 0.5s ease-out, color 0.5s ease-out, border-color 0.5s ease-out;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Plus Jakarta Sans', arial, sans-serif !important;
}

.text-primary {
  color: transparent !important;
  background: var(--cg-gradient-primary) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
}

.fr-btn--menu {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
  transition: none !important;
}

.btn-color {
  background-color: var(--blue-france-main-525) !important;
  border-color: var(--blue-france-main-525) !important;
  color: var(--cg-light-grey) !important;

  &::after {
    content: "" !important;
    display: none !important;
  }
}
.btn-color:not(.btn-vote-models):not(:disabled):not([disabled]):hover {
  background: var(--cg-blue-france-shifted) !important;
  border-color: var(--cg-blue-france-main-525-hover) !important;
}
.btn-color:disabled,
.btn-color[disabled],
.fr-btn.btn-color:disabled,
.fr-btn.btn-color[disabled],
.btn-color:disabled:hover,
.btn-color[disabled]:hover,
.fr-btn.btn-color:disabled:hover,
.fr-btn.btn-color[disabled]:hover {
  background-color: color-mix(in srgb, gray 50%, var(--blue-france-main-525)) !important;
  border: none;
  color: color-mix(in srgb, gray 50%, var(--cg-very-light-grey)) !important;
  opacity: 0.7 !important;
  pointer-events: none !important;
}

button:disabled,
button[disabled] {
  &[class*="i-bi-"], &[class*="i-bi-"]::before {
    pointer-events: none !important;
    cursor: not-allowed !important;
  }
}

a:not([href="/"]) {
  background-image: none !important;
  background: var(--cg-gradient-primary) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: var(--bg-colortext-action-high-blue-france);
  transition: -webkit-text-fill-color 0.3s ease-out !important;
}

a:not([href="/"]):hover {
  -webkit-text-fill-color: transparent;
}

a:not([href="/"])::after {
  display: none !important;
}

textarea:focus, textarea:focus-visible, input:focus, input:focus-visible {  
  outline-offset: 0 !important;
  outline: none !important;
  position: relative;
}

textarea {
  border: 1px solid transparent !important;
  border-radius: 0.75rem !important;
  background-origin: padding-box, border-box !important;
  background-clip: padding-box, border-box !important;
  background-image:
    linear-gradient(var(--background-default-grey), var(--background-default-grey)),
    linear-gradient(
      to right,
      color-mix(in srgb, var(--blue-france-main-525) 50%, transparent) 0%,
      color-mix(in srgb, var(--blue-france-main-525) 50%, transparent) 65%,
      color-mix(in srgb, var(--cg-blue-france-shifted) 50%, transparent) 100%
    ) !important;
  box-shadow: none !important;
  resize: none !important;
}

textarea::placeholder, textarea::-moz-placeholder, textarea::-webkit-input-placeholder, input::placeholder, input::-moz-placeholder, input::-webkit-input-placeholder {
  font: 'Plus Jakarta Sans', arial, sans-serif !important;
  font-style: normal !important;
  color: var(--text-mention-grey) !important;
  opacity: 0.6 !important;
}

.fr-radio-rich {
  border: 1px solid var(--border-default-grey) !important;
}
.fr-radio-rich:has(input[type="radio"]:checked) {
  border-color: var(--blue-france-main-525) !important;
  box-shadow: 0 0 0 1px var(--blue-france-main-525) !important;

  & [class*="i-bi-"] {
    color: var(--blue-france-main-525) !important;
  }
}

.fr-btn--menu {
  color: var(--blue-france-main-525) !important;
}

#step-indicator-pill {
  background: linear-gradient(
    to right,
    var(--blue-france-main-525) 0%,
    var(--blue-france-main-525) 25%,
    var(--cg-blue-france-shifted) 100%
  ) !important;
}

#chatting-mode-indicator {
  display: none; /* Can be changed later if needed, but for now, we hide this to the user */
}

.c-bot-disk-a {
  background-color: var(--blue-france-main-525) !important;
}

.c-bot-disk-b {
  background-color: var(--cg-blue-france-shifted) !important;
}

.btn-vote-models {
    background: var(--cg-light-grey) !important;
    color: var(--dark-grey) !important;
    border: 2px solid var(--cg-light-grey) !important;
    /* transition: background 0.2s, border-color 0.2s !important; */
  &:hover {
    background: var(--cg-light-grey) !important;
    border-color: var(--blue-france-main-525) !important;
    color: var(--blue-france-main-525) !important;
  }
  &[aria-pressed="true"] {
    background: var(--blue-france-main-525) !important;
    border-color: var(--blue-france-main-525) !important;
    color: var(--cg-light-grey) !important;
  }
}

.like-choice[disabled]:hover {
  cursor: default !important;
  pointer-events: none !important;
}

#checkbox-error-message-error::before {
  content: '' !important;
  display: none !important;
}

.provider-name {
  color: var(--cg-grey);
  font-weight: normal;
}

#welcome-modal-content {
  background: var(--cg-bg-grey) !important;

  .bg-light-grey {
    background-color: var(--cg-light-grey) !important;
  }
}

.model-chat-content-side-a {
  background-color: color-mix(in srgb, var(--blue-france-main-525) 10%, transparent);
}

.model-chat-content-side-b {
  background-color: color-mix(in srgb, var(--cg-blue-france-shifted) 10%, transparent);
}