@import '@gouvfr/dsfr/dist/dsfr.min.css';
@import '@gouvfr/dsfr/dist/utility/icons/icons.css';
@import './icons.css';

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
  font-display: swap;
}

:root {
  /* CUSTOM DSFR LIKE ADDITION */
  --cg-blue-france-main-525-hover: #1111cc;
  --cg-blue-france-main-525-active: #6464e6;
  --outline-color: #0a76f6;

  /* CUSTOM */
  --cg-very-light-grey: #fcfcfd;
  --cg-light-grey: #f3f5f9;
  --cg-very-light-blue: #f9fbff;
  --cg-green: #58b77d;
  --cg-purple: #a96afe;
  --cg-orange: #ff9575;

  /* GRADIENTS */
  --cg-blue-france-shifted: hsl(from var(--blue-france-main-525) calc(h - 30) s l);
  --cg-gradient-primary: linear-gradient(
    to right,
    var(--blue-france-main-525) 0%,
    var(--blue-france-main-525) 65%,
    var(--cg-blue-france-shifted) 100%
  );

  /* xs breakpoint */
  --text-xs: 0.675rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.75rem;
  --text-sm--line-height: calc(1.25 / 0.875rem);
}

:root[data-fr-theme='dark'] {
  --cg-very-light-grey: #0a0a0b;
  --cg-light-grey: #1c1e22;
  /* FIXME need equivalent in dark */
  --cg-very-light-blue: #0a0a0b;
}

@media (min-width: 36em) {
  /* sm */
}

@media (min-width: 48em) {
  /* md */
  :root {
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
  }
}

@media (min-width: 62em) {
  /* lg */
}

@media (min-width: 78em) {
  /* xl */
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 !important;
}
#app,
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a, button, .fr-btn, .fr-link, .fr-nav__link, .btn-color {
  transition: background-color 0.5s ease-out, color 0.5s ease-out, border-color 0.5s ease-out;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Plus Jakarta Sans', arial, sans-serif !important;
}

.text-primary {
  color: transparent !important;
  background: var(--cg-gradient-primary) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
}

.btn-color {
  background-color: var(--blue-france-main-525) !important;
  border-color: var(--blue-france-main-525) !important;
  color: var(--cg-light-grey) !important;
}
.btn-color:hover {
  background: var(--cg-blue-france-shifted) !important;
  border-color: var(--cg-blue-france-main-525-hover) !important;
}
.btn-color:disabled, .btn-color[disabled], .fr-btn.btn-color:disabled, .fr-btn.btn-color[disabled] {
  background-color: color-mix(in srgb, gray 50%, var(--blue-france-main-525)) !important;
  border-color: color-mix(in srgb, gray 50%, var(--cg-light-grey)) !important;
  color: color-mix(in srgb, gray 50%, var(--cg-very-light-grey)) !important;
  opacity: 0.7 !important;
}

a:not([href="/"]) {
  background-image: none !important;
  color: transparent !important;
  background: color-mix(in srgb, gray, var(--blue-france-main-525));
  background-clip: text !important;
  -webkit-background-clip: text !important;
}

a:not([href="/"]):hover {
  background: linear-gradient(
    to right,
    color-mix(in srgb, gray, var(--cg-blue-france-shifted)) 0%, 
    var(--blue-france-main-525) 65%,
    var(--cg-blue-france-shifted) 100%
  ) !important;
  color: transparent !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
}

textarea:focus, textarea:focus-visible, input:focus, input:focus-visible {  
  outline-offset: 0 !important;
  outline: none !important;
  position: relative;
}

textarea {
  border: 1px solid transparent !important;
  border-radius: 0.75rem !important;
  background-origin: padding-box, border-box !important;
  background-clip: padding-box, border-box !important;
  background-image:
    linear-gradient(var(--background-default-grey), var(--background-default-grey)),
    linear-gradient(
      to right,
      color-mix(in srgb, var(--blue-france-main-525) 50%, transparent) 0%,
      color-mix(in srgb, var(--blue-france-main-525) 50%, transparent) 65%,
      color-mix(in srgb, var(--cg-blue-france-shifted) 50%, transparent) 100%
    ) !important;
  box-shadow: none !important;
  resize: none !important;
}

textarea::placeholder, textarea::-moz-placeholder, textarea::-webkit-input-placeholder, input::placeholder, input::-moz-placeholder, input::-webkit-input-placeholder {
  font: 'Plus Jakarta Sans', arial, sans-serif !important;
  font-style: normal !important;
  color: var(--text-mention-grey) !important;
  opacity: 0.6 !important;
}